body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "tallerEvolution";
  src: local("taller_evolution_rev"),
    url(./Fonts/taller_evolution_rev.ttf) format("truetype");
}

@font-face {
  font-family: "cabin";
  src: local("Cabin-Regular"), url(./Fonts/Cabin-Regular.ttf) format("truetype");
}
